#{extends 'mainOwnCourse.html' /}
#{set title:'Home' /}
    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
<div class="container">   
	<div class="row">
		<diV class="span9">	
			#{list items:myCourses, as:'i'}
				<table class="table table-striped table-bordered table-hover">
					<thead>
					    <tr>
						      <th>Username/Email</th>
						      <th>Progress in percent</th>
					    </tr>
					</thead>
				  	<tbody>
				    	<tr>
					      	<td>
						    	#{if i.user.username && i.user.username.length()>0}
				            		${i.user.username}
				            	#{/if}
				            	#{else}
				            		${i.user.email}
				            	#{/else}  	
					      	</td>
					      	<td>
						      	<div class="progress">
						      	#{if i.progress==0}
						      		<div class="bar bar-danger" style="width: 100%;">
						      			<p>No progress</p>
						      		</div>						      		
						      	#{/if}
						      	#{else}
						      		<div class="bar bar-success" style="width:%{
								  	out.print(i.progress);
								  }%%;">
								  	${i.progress}%
								  </div>
						      	#{/else}								  								 
								</div>
					      	</td>
				    	</tr>
				  	</tbody>
				</table>				
			#{/list}
		</div>					
	</div>
</div>