#{extends 'main.html' /}
#{set title:'Home' /}

    <style type="text/css">
      .span4 {
        padding-top: 20px;        
      }
    </style>	
   

<div class="container">   
	<div class="row">	
		<div class="span12">
			<h3>Learn by coding.</h3> 
			<h3>Coming soon</h3>
			<ul class="thumbnails">
				<li class="span4">
					<a href="@{Application.jsCode()}" class="thumbnail">
						<img src="@{'/public/images/code/js-thumb.png'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="" class="thumbnail">
						<img src="@{'/public/images/code/python-thumb.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>
				<li class="span4">
					<a href="" class="thumbnail">
						<img src="@{'/public/images/code/java-thumb.jpg'}" style="width: 370px; height: 160px;">
					</a>
				</li>											
			</ul>
		</div>	 
	</div>					
</div>

 <script type="text/javascript">    

</script>